@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaLt";
  src: url("../fonts/helveticaneue/HelveticaNeueLTProLt.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaMd";
  src: url("../fonts/helveticaneue/HelveticaNeueLTProMd.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaRoman";
  src: url("../fonts/helveticaneue/HelveticaNeueLTProRoman.otf") format("opentype");
}

@font-face {
  font-family: "MerriweatherLtI";
  src: url("../fonts/merriweather/Merriweather-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
}

.nav {
  position: relative;
  z-index: 1;
}

.nav__menu {
  display: flex;
  justify-content: center;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 55px;
  padding: 0 20px;
  font-family: 'RobotoRegular', sans-serif;
  font-size: 13px;
  color: #989696;
}

.nav__link:hover {
  text-decoration: none;
  color: #010101;
}

.nav .logo {
  padding: 0 17px;
  background-color: #010101;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

#header {
  margin-top: -55px;
}

#header .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  line-height: 1;
}

#header .content__title {
  font-family: 'HelveticaLt', sans-serif;
  font-size: 44px;
  font-weight: 300;
}

#header .content__desc {
  font-family: 'MerriweatherLtI';
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  color: #898888;
  margin-bottom: 40px;
}

#header .content__link {
  border: 1px solid #000000;
  padding: 20px 50px;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  color: #000000;
}

#about {
  position: relative;
  background: url(../img/bg_white.png), url(../img/bg_black.png);
  background-position: 100% 101%;
  background-repeat: repeat-x;
  background-size: auto 13%;
  background-color: #1d1d1d;
  color: #ffffff;
  padding-bottom: 150px;
}

#about:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 4px;
  background-color: #ffffff;
}

#about .timeline {
  width: calc(100% - 80px);
  max-width: 970px;
  margin: auto;
  padding-top: 100px;
}

#about .timeline__item {
  width: calc(50% - 80px);
  padding: 0px;
  clear: both;
  text-align: right;
}

#about .timeline__item:nth-child(2n) {
  text-align: left;
  float: right;
}

#about .timeline__item:nth-child(2n) .timeline__title:before {
  left: -92px;
}

#about .timeline__title {
  font-family: 'HelveticaRoman';
  font-weight: 300;
  font-size: 48px;
  position: relative;
}

#about .timeline__title:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border: 4px solid #ffffff;
  background-color: #1d1d1d;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: -92px;
  z-index: 1000;
}

#about .timeline__title.big:before {
  width: 46px;
  height: 46px;
  right: -103px;
}

#about .timeline__desc {
  color: #b7b7b7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.team {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 120px;
}

.team__item {
  text-align: center;
}

.team__item:not(:nth-child(2n)) {
  margin-top: 90px;
}

.team .team-img {
  margin-bottom: 30px;
}

.team .team-content {
  line-height: 1;
  font-family: 'HelveticaRoman', sans-serif;
  margin-bottom: 25px;
}

.team .team-content h3 {
  font-size: 24px;
  color: #464646;
}

.team .team-content span {
  font-size: 13px;
  color: #b3b3b3;
}

.team .team-social a {
  text-decoration: none;
  margin: 0 5px;
}

.team .team-social a:hover svg {
  fill: #464646;
}

.team .team-social svg {
  fill: #e4e4e4;
}

#services {
  background-color: #181818;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.skew {
  -webkit-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  transform: skewY(5deg);
}

.slant {
  position: relative;
  height: 0;
  background-color: green;
}

.slant:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 200px;
  top: -150px;
  background-color: #181818;
  -webkit-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.services {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
}

.services__item {
  max-width: 340px;
}

.services .services-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 169px;
  height: 169px;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 5px solid #ffffff;
  border-radius: 100%;
}

.services .services-img svg {
  fill: #ffffff;
}

.services .services-content {
  font-family: 'HelveticaLt', sans-serif;
  font-weight: 100;
}

.services .services-content h3 {
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 100;
}

.services .services-content span {
  font-size: 18px;
  color: #383838;
  line-height: 1;
}

.blog {
  max-width: 900px;
  margin: 0 auto;
  -webkit-transform: perspective(400px) rotateX(20deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
  -moz-transform: perspective(400px) rotateX(20deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
  -o-transform: perspective(400px) rotateX(20deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
  -ms-transform: perspective(400px) rotateX(20deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
  transform: perspective(400px) rotateX(20deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
}

.blog-wrapper {
  position: relative;
}

.blog-wrapper:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.blog-link {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  display: block;
  width: 217px;
  height: 64px;
  line-height: 64px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.blog-link:hover {
  color: #000000;
}

.post {
  color: #383838;
  font-family: 'HelveticaLt', sans-serif;
  margin-bottom: 60px;
}

.post__header {
  display: flex;
  justify-content: space-between;
}

.post__header .title {
  font-family: 'HelveticaMd', sans-serif;
  font-size: 18px;
}

.post__header .social {
  display: inline-flex;
  font-size: 14px;
}

.post__header .social svg {
  fill: #555555;
}

.post__header .social a {
  margin-left: 10px;
  text-decoration: none;
}

.post__footer {
  font-size: 14px;
}

.post__footer span {
  display: inline-flex;
  margin-right: 20px;
}

.post__footer a {
  float: right;
  font-weight: 700;
  color: #383838;
}

.post__footer svg {
  margin-right: 5px;
  fill: #383838;
}

.contacts {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contacts__item {
  width: 150px;
  margin: 0 25px;
  font-family: 'HelveticaLt', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #898888;
}

.contacts .icon {
  height: 21px;
  margin-bottom: 10px;
}

.form {
  max-width: 770px;
  margin: 0 auto;
}

.form input, .form textarea {
  width: 100%;
  min-height: 50px;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #999999;
  font-size: 16px;
}

.form input {
  text-align: center;
}

.form button {
  width: 100%;
  height: 50px;
  border: 0;
  background-color: #161616;
  color: #ffffff;
  font-family: 'HelveticaMd', sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.form button:hover {
  font-family: 'HelveticaMd', sans-serif;
  background-color: #ffffff;
  border: 2px solid #161616;
  color: #161616;
  font-weight: 600;
}

.footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-family: "HelveticaRoman", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.clear {
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.section-header {
  position: relative;
  margin-bottom: 60px;
  line-height: 1;
}

.section-header h1 {
  font-family: 'HelveticaLt', sans-serif;
  font-weight: 300;
  font-size: 34px;
  color: #1d1e1f;
}

.section-header p {
  font-family: 'MerriweatherLtI', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #898888;
}

.section {
  position: relative;
}

.md-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.sm-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.text-center {
  text-align: center;
}

.white {
  color: #ffffff !important;
}

input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
