$color-orange: #ff6b00;
$color-green: #a7c93d;


#header {
    min-height: 720px;
    background: url(../img/bg-line.png) repeat-x bottom, 
     #f3f9ff url(../img/header-bg.jpg) center 0 no-repeat;
    .container {
        display: flex;
    }
}
.promo-img {
    position: relative;
    min-width: 500px;
    height: 830px;
    padding-top: 15px;
    z-index: 1;
}
.logo {
    padding-right: 89px;
    font-family: 'Roboto Black', sans-serif;
    font-size: 22px;
    a {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-decoration: none;
        color: #383334;
    }
    img {
        margin-right: 15px;
    }
}
.logo-sm {
    display: none;
}
.promo-bg {
    position: absolute;
    top: 0;
    left: -270px;
    z-index: -1;
}
.brand-green {
    position: absolute;
    left: -100px;
    bottom: 0;
    .price {
        top: -10px;
        right: 150px;
    }
}
.brand-orange {
    position: absolute;
    left: -40px;
    bottom: 75px;
    .price {
        top: -10px;
        right: 135px;
    }
}
.price {
    position: absolute;
    padding: 0 8px;
    border-radius: 8px;
    font-family: 'Roboto Black', sans-serif;
    font-size: 34px;
    color: #ffffff;
    i {
        font-size: 28px;
    }
}
.bg-orange {
    background-color: $color-orange;
}
.bg-green {
    background-color: $color-green;
}
.promo-text {
    padding-top: 25px;
}
.tagline {
    display: flex;
    margin-bottom: 50px;
    &__item {
        display: flex;
        align-items: center;
        p {
            font-family: 'Roboto Italic', sans-serif;
            font-size: 16px;
            color: #666666;
        }
    }
    &__img {
        margin-right: 10px;
    }
}
.subtext {
    display: flex;
}
.desc {
    &__title {
        font-family: 'Roboto Black', sans-serif;
        font-size: 44px;
        line-height: 1;
    }
    &__subtitle {
        margin-bottom: 44px;
        font-family: 'Roboto Bold', sans-serif;
        font-size: 34px;
    }
}
.desc__list {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 20px;
    &-item {
        position: relative;
        display: flex;
        margin-bottom: 40px;
        &:nth-child(2) .list-style::before {
            position: absolute;
            top: -33px;
            content: '';
            width: 9px;
            height: 30px;
            background: url(../img/arrow-line.png) no-repeat;
        }
        &:nth-child(n+3) .list-style::before {
            position: absolute;
            top: -33px;
            content: '';
            width: 7px;
            height: 39px;
            background: url(../img/plus-line.png) no-repeat;
        }
        .list-style {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            span {
                width: 60px;
                height: 60px;
                background-color: $color-green;
                color: #ffffff;
                text-align: center;
                line-height: 46px;
                border-radius: 100%;
                border: 7px solid #e8edc9;
            }
            
        }
        .text {
            padding-right: 35px;
            .bb::before {
                bottom: -1px;
            }
        }
    }
}
.buy__item {
    width: 270px;
    background-color: #ffffff;
    border: 7px solid $color-green;
    border-radius: 10px;
    padding: 0 18px;
    text-align: center;
    font-family: 'Roboto Regular', sans-serif;
    .free {
        margin-bottom: 25px;
        span {
            background-color: #f1f8fe;
            border-left: 7px solid $color-green;
            border-right: 7px solid $color-green;
            border-bottom: 7px solid $color-green;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 7px 10px;
            color: #444444;
            &::before {
                content: url(../img/free.png);
                margin-right: 8px;
                vertical-align: middle;
            }
        }
    }
    h3 {
        font-family: 'Roboto Light', sans-serif;
        font-size: 20px;
        margin-bottom: 19px;
        p {
            color: $color-orange;
        }
    }
    .price-list {
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-bottom: 15px;

    }
    .old-price {
        color: #000000;
        margin-right: 15px;
        p:nth-child(2) {
            position: relative;
            font-size: 34px;
            font-family: 'Roboto Light', sans-serif;
            margin-top: 10px;
            padding: 5px;
            &::before {
                content: "";
                border-bottom: 2px solid #ea7845;
                position: absolute;
                width: 120%;
                height: 50%;
                transform: rotate(-15deg);
                left: -12px;
                top: -3px;
            }
            &::after {
                content: "";
                border-bottom: 2px solid #ea7845;
                position: absolute;
                width: 120%;
                height: 50%;
                transform: rotate(15deg);
                left: -5px;
                top: -3px;
            }
        }
    }
    .new-price {
        color: #000000;
        p:nth-child(2) {
            position: relative;
            font-size: 34px;
            font-family: 'Roboto Black', sans-serif;
            background-color: #ffbf02;
            border-radius: 7px;
            margin-top: 10px;
            padding: 5px;
            &::after {
                position: absolute;
                right: -55px;
                top: 20px;
                content: url(../img/arrow-buy.png);
            }
        }
    }
    .input {
        width: 220px;
        height: 65px;
        margin-bottom: 10px;
        border-radius: 30px;
        background-color: #eef2f7;
        svg {
            vertical-align: middle;
            margin-right: 10px;
        }
    }
    input {
        outline: none;
        width: 60%;
        height: 65px;
        border: 0;
        background-color: #eef2f7;
        font-size: 16px;
    }
    .button {
        height: 65px;
        border-radius: 30px;
        background-color: #ffc002;
        margin-bottom: 20px;
    }
    button {
        width: 210px;
        height: 55px;
        border-radius: 30px;
        border: 1px solid #ffd24e;
        margin-top: 5px;
        background-color: transparent;
        outline: none;
        font-family: 'Roboto Bold', sans-serif;
        line-height: 1;
        cursor: pointer;
        span {
            display: block;
            font-size: 28px;
        }
        &:hover {
            width: 220px;
            height: 65px;
            margin-top: 0;
            background-color: #ffd24e;
        }
    }
    .remainder {
        width: 190px;
        margin: 0 auto;
        margin-bottom: 15px;
        font-family: 'Roboto Mediun', sans-serif;
        font-size: 18px;
        span {
            color: $color-green;
        }
    }
    .rights {
        width: 256px;
        margin-left: -18px;
        padding: 13px 15px;
        background-color: #eef2f7;
        font-size: 14px;
        color: #666666;
        svg {
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}
.section__title {
    margin-top: 60px;
    text-align: center;
    h1 {
        font-family: 'Roboto Black', sans-serif;
        font-size: 48px;
        margin-bottom: 40px;
    }
    p {
        font-family: 'Roboto Bold', sans-serif;
        font-size: 24px;
        margin-bottom: 60px;
    }
}
.about {
    display: flex;
    margin: 0 -30px;
    font-family: 'Roboto Regular', sans-serif;
    margin-bottom: 80px;
    &__item {
        position: relative;
        margin: 0 30px;
        z-index: 1;
    }
    &__number {
        position: absolute;
        left: 130px;
        background-color: $color-orange;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 100%;
        text-align: center;
        z-index: 2;
        font-size: 30px;
        color: #ffffff;
        z-index: 1;
        &::before {
            position: absolute;
            right: -10px;
            top: -20px;
            content: '';
            width: 190px;
            height: 190px;
            border: 10px solid transparent;
            border-top-color: $color-orange;
            border-radius: 100%;
            z-index: -1;
        }
        &::after {
            position: absolute;
            right: -10px;
            top: -20px;
            content: '';
            width: 190px;
            height: 190px;
            border: 10px solid transparent;
            border-top-color: $color-orange;
            border-radius: 100%;
            transform: rotate(-45deg);
        }
    }
    &__img {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        img {
            position: relative;
            margin-right: 20px;
        }
        
        span {
            font-family: 'Roboto Medium', sans-serif;
            font-size: 22px;
        }
    }
    &__desc {
        position: relative;
        width: 280px;
        p {
            font-size: 18px;
            color: #444444;
        }
        &::before {
            position: absolute;
            top: -20px;
            content: '';
            width: 50px;
            height: 3px;
            background-color: #becbd8;
        }
    }
}
.about__alert {
    position: relative;
    text-align: center;
    border: 1px solid #f4d3bb;
    border-radius: 10px;
    padding: 40px 50px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 22px;
    margin-bottom: 30px;
    span {
        font-family: 'Roboto Medium', sans-serif;
    }
    .stats {
        position: absolute;
        top: -18px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
        padding: 0 50px;
    }
}