// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    #header .container {
        padding: 0 30px;
    }
    .logo-sm {
        display: block;
        margin-bottom: 30px;
        font-family: 'Roboto Black', sans-serif;
        font-size: 22px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #383334;
        }
        img {
            margin-right: 15px;
        }
    }
    .tagline {
        flex-direction: column;
    }
    .tagline__item {
        margin-bottom: 15px;
    }
    .tagline__img {
        width: 40px;
        text-align: center;
        margin-right: 15px;
    }
    .subtext {
        flex-direction: column;
        align-items: center;
    }
    .promo-img {
        display: none;
    }
    .new-price p:nth-child(2)::after {
        display: none;
    }
    #about .container {
        padding: 0 15px;
    }
    .about {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .about__item {
        width: 100%;
        margin-bottom: 60px;
    }
    .about__img {
        flex-direction: column;
        img {
            margin-bottom: 30px;
        }
        span {
            text-align: center;
        }
    }
    .about__number {
        left: 52%;
        transform: translateX(55%);
    }
    .about__desc {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    #header .container {
        padding: 0 30px;
    }
    .logo-sm {
        display: block;
        margin-bottom: 30px;
        font-family: 'Roboto Black', sans-serif;
        font-size: 22px;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #383334;
        }
        img {
            margin-right: 15px;
        }
    }
    .subtext {
        flex-direction: column;
        align-items: center;
    }
    .promo-img {
        display: none;
    }
    .new-price p:nth-child(2)::after {
        display: none;
    }
    #about .container {
        padding: 0 15px;
    }
    .about {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .about__item {
        width: 500px;
        margin-bottom: 60px;
    }
    .about__img {
        flex-direction: column;
        img {
            margin-bottom: 30px;
        }
    }
    .about__number {
        left: 285px;
    }
    .about__desc {
        width: 100%;
        text-align: center;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    #header .container {
        flex-direction: column;
        padding: 0 15px;
    }
    .promo-bg {
        left: 0;
    }
    .brand-orange, .brand-green {
        left: 40px;
    }
    .new-price p:nth-child(2)::after {
        display: none;
    }
    #about .container {
        padding: 0 15px;
    }
    .about {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .about__item {
        width: 500px;
        margin-bottom: 60px;
    }
    .about__img {
        flex-direction: column;
        img {
            margin-bottom: 30px;
        }
    }
    .about__number {
        left: 285px;
    }
    .about__desc {
        width: 100%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .promo-img {
        width: 400px;
    }
    .brand-orange {
        bottom: -300px;
    }
    .brand-green {
        bottom: -400px;
    }
    .subtext {
        flex-direction: column;
        align-items: center;
    }
    .buy {
        padding-right: 30px;
    }
    .new-price p:nth-child(2)::after {
        display: none;
    }
    #about .container {
        padding: 0 15px;
    }
    .about {
        margin: 0;
        margin-bottom: 60px;
        justify-content: center;
    }
    .about__item {
        width: 310px;
        margin: 0;
        padding: 0 15px;
    }
    .about__number {
        left: 190px;
    }
    .about__img {
        flex-direction: column;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}